@import '../../less/common';

.ui__accordion {

    &__header {
        .rect();
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.5rem 1rem;
        color: @default-text-color;
        transition: 0.3s ease background-color;
        background-color: darken(@white-color, 7%);

        & > .ui__label {
            margin-left: 0.8rem;
        }

        svg {
            transition: 0.3s ease transform;
            color: @default-text-color;
        }
    }

    &--expanded {

        .ui__accordion__header {
            background-color: @white-color;

            svg {
                transform: rotate(90deg);
            }
        }

        .ui__accordion__content {
            overflow: visible;
        }
    }

    &__content {
        overflow: hidden;
    }
}
