@checkbox-disabled-color: #8a8a8a;
@checkbox-normal-color: #03a678;

.ui__checkbox {
  display: inline-block;

  * {
    user-select: none;
    cursor: pointer;
  }

  input {
    display: none;
  }

  .ui__label {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #ffffff;
      border: 2px solid #878787;
      border-radius: 2px;
      box-shadow: 0 5px 5px -4px rgba(51, 51, 51, .75);
    }

    &::after {
      position: absolute;
      content: "";
      display: none;
      width: 0.5rem;
      height: 1.8rem;
      background: transparent;
      border-bottom: 3px solid @checkbox-normal-color;
      border-right: 3px solid @checkbox-normal-color;
      transform: rotate(45deg);
      top: -0.5rem;
      left: 0.8rem;
    }
  }

  &--checked input {
    & + .ui__label {
      &::before {
        border-color: lighten(@checkbox-normal-color, 10%);
      }

      &::after {
        display: block;
      }
    }
  }

  &--disabled input {
    & + .ui__label {
      color: @checkbox-disabled-color;

      &::before {
        background-color: lighten(@checkbox-disabled-color, 35%);
        border-color: lighten(@checkbox-disabled-color, 15%);
      }

      &::after {
        border-color: @checkbox-disabled-color;
        display: block;
      }
    }
  }
}